.modal-content {
  width: 70vw;
  height: 20vh;
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: #1d2120;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(29,33,32, 0.5);
  background-color: #EBD5BD;
  color: #454545;
  border-color: #454545;
}

.modal-content > hr {
  width: 100%;
  border-color: #454545;
}

.modal-content > h1 {
  padding-bottom: 1rem;
}

.modal-content > span {
  padding-top: 1rem;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
