.home-last-word {
  background-color: #1d2120;
  color: white;
  height: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-frown {
  font-size: x-large;
}

h1 {
  font-size: x-large;
  padding: 0 1rem;
}

h2 {
  text-transform: uppercase;
}
