.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27%;
  background-color: #DAC3AC;
  border-bottom: 1px solid rgb(190, 160, 145);
  position: relative;
}

.home-button button {
  font-size: xx-large !important;
  height: 80px !important;
  width: 80px !important;
  background-color: #454545;
  color: #EBD5BD;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.45s !important;
  position: absolute !important;
  z-index: 1;
  transform-origin: 50%;
}

.home-button button:hover {
  background-color: #454545;
}

.input-mode {
  background-color: transparent !important;
  color: #454545 !important;
  box-shadow: none !important;
  transform: scale(0.5) translateY(0px) translateX(170px);
  
}

.icon {
  font-size: x-large;
}

@keyframes fade-in-input {
  from {
    transform: scaleX(0);
    opacity: 0;
    display: none;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out-input {
  from {
    transform: scaleX(1);
    opacity: 1;
    display: block;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
    display: none;
  }
}

.input {
  background-color: white;
  border-color: #454545;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(29,33,32, 0.5);
  padding-left: 5px;
  transform-origin: 100% 50%;
  animation-name: fade-in-input !important;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transform: scaleX(0);
  transform-origin: 50%;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fade-out {
  animation-name: fade-out-input !important;
}
